.navbar {
  background-color: #0e1b27;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #0e1b27;
  width: 230px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}



.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #0e1b27;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;

}

span {
  margin-left: 16px;
}


.SidebarList{
  height: auto;
  padding: 0;
  width: 100%;
  color: white;
  position: relative;
 

}

.SidebarList .row{
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.SidebarList .row:hover{
  background-color: #1a83ff;
   transform: scale(1.02);

}

.row #icon{
  flex: 30%;
  display: grid;
  justify-items: center;
 
}

.row #title{
  flex: 70%;
 
}

.left-navbar{
  position: relative;
}

#loggeInUser{
  color: white;
  font-weight: bold;
  margin-left: 20px;
}