.App{
  width: 100vw;
  height: 100vh;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}
body {
    max-width: 100%;
    overflow-x: hidden;
}

/*Footer*/
#mainBody{
  min-height: calc(100vh - 34px);
  position: relative;
  z-index: 1;
}
#footer {
  background-color: #0e1b27;
  position: relative;
  left: 0;
  bottom: 0;
  
}

#tagline{
  margin-left: -110px;
  
}

.carousel-caption{

}

#navbar{
  background-color: #0e1b27;
  position: relative;
  z-index: 5;
}

/*Carousel*/
#carousel{
  width:100%;
}

#carousel .item{

  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
  transition: opacity 1s ease-in-out;
}

.caption-text{
 text-shadow: 2px 2px 5px black;
}

.caption-text h1{
 font-weight: bold;
}

/*Container*/
#container {
  background-color: #f4f4f4;
  box-shadow: 5px 10px #bfbfbf;
  border-radius: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

#LoginForm{
  background-color: white;
}


#divider{
  margin: 50px;
 border-top: 5px solid #0e1b27;
}

.cardItem:hover{
   transform: scale(1.05);
}

/*Sidebar*/
.Sidebar{
  color: white;
  height: 100%;
  width: 250px;
  background-color: #0E1B27;
  position: relative;
  z-index: 5;

 
}

#colSidebar{

  height: 100vh;
  pointer-events: none;
  position: relative;
  z-index: 5;
}

.Dashboard{
  width: 100%;

}

#DashcardItem{
  position: relative;
}

.SidebarList{
  height: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
 
}

.mainContainer{
  margin-bottom: 100px;
}
.SidebarList .row{
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 

}
.SidebarList .row:hover{
  background-color: #324659;
   transform: scale(1.02);

}

#active-navList{
  background-color: #1C83FB;
  transform: scale(1.02);
}


#dashContainer {
  background-color: #F5F5FD;
  box-shadow: 5px 10px #bfbfbf;
  margin-right: 10%;
  margin-left: 10%;
  width: 80vw;
 

}

.userProfile{
  width: 100%;
  height: 80px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 60px 0px 80px;
}

#hr{
  border-bottom: 3px solid white;
  margin: 0px 20px;
}

.userProfile #profIcon{
  flex: 30%;
  display: grid;
  justify-items: center;
}

.userProfile #profName{
  flex: 70%;
  font-size: 20px;
  font-weight: bold;

}

.row #icon{
  flex: 30%;
  display: grid;
  justify-items: center;
 
}

.row #title{
  flex: 70%;
 
}

@media screen and (max-height: 450px) {
    #sidenav {
        display: none;
    }
}


.dashCards{
  background-color: #FFFFFF;
  width: 100%;
}

.cardImg{
  width: 100%;
  height: 100%;
  position: relative;
}

#hidden-div{
   pointer-events: none;
}

#profImg{
  width: 90px;
  height: auto;
  border-radius: 100px;
}

#profImg:hover{
  transform: scale(1.2);
}

#staff-btn{
  margin-top: 20px;
  padding: 0;
  padding-top: 5px;
  color: white;
  margin: 0;
  border-radius: 20px;
  width: 120px;
  height: 35px;
  font-size: 12px;
  background-color: #324659;
}

#tenantPic{
  width: 75px;
  transform: scale(1.2);
  border-radius: 60px;
  box-shadow: 0px 0px 7px grey;

}

#allergyLabel h5{
  font-weight: bold;
   text-decoration: underline;
   color: #0066ff;
}

#allergyLabel h4{
  font-weight: bold;
}


#tenantPicContainer{
  padding: 0;
  margin: 0;
}

#logOutbtn{
  background-color: white;
  padding: 0px;
  width: 80px;
  height: 30px;
  color: #0E1B27;
}

#activityTab{
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

#responsive-navbar-nav{
  background-color: #0E1B27;
  padding: 0;
  margin: 0;
  width: 100vw;
}

#collasible-nav-dropdown{
  background-color: #0E1B27;
}

#tenantActionContainer{
  position: relative  ;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;

}

#tenantActionContainer .adminItem{
  position: relative;
}

#actionBtn{
  font-size: 12px;
  background-color: #0E1B27;
  width: 180px;
  color: white;

}

#actionBtn:hover{
  transform: scale(1.02);
  background-color:  #294e70;
}

#actionBtn2{
  font-size: 12px;
  background-color: #0E1B27;
  width: 80px;
  color: white;

}

#actionBtn2:hover{
  transform: scale(1.02);
  background-color:  #294e70;
}

#selectForm{
  border-radius: 2px;
  width: 260px;
  height: 40px;
  outline: none;
}

#selectForm:focus{
  border: 3px solid #C1DFFF;
}


#actionBtn3{
  font-size: 18px;
  background-color: #0E1B27;
  width: 280px;
  height: 50px;
  color: white;

}

#actionBtn3:hover{
  transform: scale(1.02);
  background-color:  #294e70;
}

#actionBtn4{
  font-size: 12px;
  background-color: #0E1B27;
  width: 120px;
  height: 45px;
  color: white;

}

#actionBtn4:hover{
  transform: scale(1.02);
  background-color:  #294e70;
}

#actionBtn5{
  font-size: 15px;
  background-color:  #294e70;
  text-transform: capitalize;
  height: 25px;
  font-weight: bold;
  color: white;

}


#actionBtn5:hover{
  transform: scale(1.1);
}


#actionBtn6{
  font-size: 12px;
  border-radius: 3px;
  background-color: #0E1B27;
  width: 200Px;
  height: 35px;
  color: white;

}

#actionBtn6:hover{
  transform: scale(1.02);
  background-color:  #294e70;
}
#actionBtn5active{
  font-size: 15px;
  font-weight: bold;
  background-color: #0066ff;
  text-transform: capitalize;
  height: 25px;
  color: white;

}


#subTitle{
  background-color: #0E1B27;
  color: white;

}

#subTitle h3{
  font-weight: bold;
  }

#searchBar{
  margin-left: 320px;
  border-bottom: 2px solid black;
}

#actionHolder{
  height: auto;
  padding-bottom: 20px;
  padding-top: 20px;
   box-shadow: 5px 10px #bfbfbf;
}