.App{
  width: 100vw;
  height: 100vh;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}
body {
    max-width: 100%;
    overflow-x: hidden;
}

/*Footer*/
#mainBody{
  min-height: calc(100vh - 34px);
}
#footer {
  background-color: #0e1b27;
  position: relative;
  left: 0;
  bottom: 0;
  
}

#tagline{
  margin-left: -110px;
  
}

.carousel-caption{

}

#navbar{
  background-color: #0e1b27;
}

/*Carousel*/
#carousel{
  width:100%;
}

#carousel .item{

  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
  transition: opacity 1s ease-in-out;
}

.caption-text{
 text-shadow: 2px 2px 5px black;
}

.caption-text h1{
 font-weight: bold;
}

/*Container*/
#container {
  background-color: #f4f4f4;
  box-shadow: 5px 10px #bfbfbf;
  border-radius: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

#LoginForm{
  background-color: white;
}


#divider{
  margin: 50px;
 border-top: 5px solid #0e1b27;
}

.cardItem:hover{
   transform: scale(1.05);
}

/*Sidebar*/
.Sidebar{
  color: white;
  height: 100%;
  width: 250px;
  background-color: #0E1B27;
}

#colSidebar{
  height: 100vh;
  pointer-events: none;
}

.Dashboard{
  width: 100%;

}

.SidebarList{
  height: auto;
  padding: 0;
  width: 100%;
}

.mainContainer{
  margin-bottom: 100px;
}
.SidebarList .row{
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.SidebarList .row:hover{
  background-color: #324659;
   transform: scale(1.02);

}


#dashContainer {
  background-color: #F5F5FD;
  box-shadow: 5px 10px #bfbfbf;
  margin-right: 10%;
  margin-left: 10%;
 
  z-index: -1;
  width: 80vw;
 

}

.userProfile{
  width: 100%;
  height: 80px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 60px 0px 80px;
}

#hr{
  border-bottom: 3px solid white;
  margin: 0px 20px;
}

.userProfile #profIcon{
  flex: 30%;
  display: grid;
  justify-items: center;
}

.userProfile #profName{
  flex: 70%;
  font-size: 20px;
  font-weight: bold;

}

.row #icon{
  flex: 30%;
  display: grid;
  justify-items: center;
 
}

.row #title{
  flex: 70%;
 
}

@media screen and (max-height: 450px) {
    #sidenav {
        display: none;
    }
}


.dashCards{
  background-color: #FFFFFF;
  width: 100%;
}

.cardImg{
  width: 100%;
  height: 100%;
  position: relative;
}

#hidden-div{
   pointer-events: none;
}